@{
    ViewBag.Title = "Home Page";
}
@*First Row Begin*@
<div class="row">
    @*Main Container Begin*@
    <div class="card-body rounded bg-light mb-0 mt-1 ml-1 mr-2 shadow-sm">
        @*Title*@
        <h1 class="display-3">Welcome, @ViewBag.username!</h1>
        @*Introduction*@
        <p class="lead">This is a <strong>Product Management Software</strong>, You can add new Products to your inventory and you can also view the list of your products. </p>
        @*Sperator*@
        <hr class="my-4">
        @*First Row Begin*@
        <div class="row justify-content-center">
            @*First Coloumn Begin*@
            <div class="col-lg-6 border-right">
                @*Title*@
                <h4>&#128712; About</h4>
                @*About*@
                <p class="lead text-justify">This Software is created by Raj Thakkar as an assigment for the Internship Training In the company <strong>Gateway Inc.</strong> during Dec (2019) - jan (2020) </p>
            </div>
            @*First Coloumn End*@
            @*Second Coloumn Begin*@
            <div class="col-lg-6">
                @*Title*@
                <h4>&#128383; Contact</h4>
                @*Contacts*@
                <p class="lead text-justify">
                    @*Email-Id*@<strong>Email-id&nbsp;:&nbsp;</strong>Iamthakkarraj@gmail.com<br/>
                    @*Phone No*@<strong>Phone no.&nbsp;:&nbsp;</strong>+91 9726080715<br/>
                    @*College*@<strong>College&nbsp;&nbsp;:&nbsp;</strong>Sal College of Enginnering and Reserch Center.
                </p>
            </div>
            @*Second Coloumn End*@
        </div>
        @*First Row End*@
    </div>
    @*Main Container End*@
</div>     
@*First Row End*@